body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: blueviolet;
  font-size: medium;
  text-align: center;
}

code {
  font-family: 'Times New Roman', Times, serif;
}
